@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono');

* { margin: 0; padding: 0; outline: none; }
body { font-family: 'Roboto'; font-size: 15px; }
a { text-decoration: none; font-weight: 700; color: inherit; }
a:hover { text-decoration: underline; }

#top { text-align: center; margin: 50px 0; }

#footer { margin-top: 30px; text-align: center;}
#footer i { vertical-align: middle; }

#output { width: 610px; padding: 15px; margin: 0 auto; background: #607d8b; border-radius: 3px; color: #fff; font-family: 'Ubuntu Mono'; }
#output .msg { font-style: italic; margin-bottom: 3px; color: #d0d0d0; }

#boxForm { margin: 0 auto; width: 640px; margin-bottom: 20px; }
form input[type='text'], form input[type='password'] { width: 210px; border-radius: 3px; border: 2px solid #607d8b; padding: 3px 0 3px 8px; font-size: 12px; }
form input[type='submit'] { padding: 4px 12px; border: 3px solid #607d8b; border-radius: 3px; background: #607d8b; color: #fff; font-size: 15px; transition: .2s background, color; }
form input[type='submit']:active { background: #fff; color: #607d8b; transition: .2s background, color; }